body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F9F6EE;
  color: blue;
}

a {
  text-decoration: underline 16px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.inner-wrapper {
  margin: 40px auto;
  width: 80%;
  overflow: none;
}

.title {
  font-size: 12em;
  font-weight: 700;

}

.project-container {
  margin-top: 100px;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
}

.project-img {
  background-color: rgba(0,0,0,0.2);
  width: 70%;
  height: 450px;
}

.project-title {
  font-size: 7.5rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 15%;
  max-width: 300px;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.25s ease-in, transform 0.5s ease-in;
  transform: translateY(100%);
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(-50%)
}

footer {
  margin-top: 160px;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  text-align: center;
  font-size: 8em;
  font-weight: 700;  
}

